__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
venv/

# Ignore everything by default
*

# But keep these folders
!archaea/


# Inside archaea, only keep input and output
archaea/*
!archaea/input/
!archaea/input/**
!archaea/output/
!archaea/output/**
