<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ domain | capitalize }} Genomes - GeNOMic Island</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="{{ domain }}">
    <div class="content-wrapper">
        <h1>{{ domain | capitalize }} Genomes</h1>
        <table>
            <tr>
                <th>Sequence ID</th>
                <th>Organism</th>
            </tr>
            {% for seq_id, info in seq_map.items() %}
            <tr>
                <td><a href="{{ url_for('genome', seq_id=seq_id) }}">{{ seq_id }}</a></td>
                <td>{{ info.organism }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
